@import "bootstrap/assets/stylesheets/bootstrap";
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,700,300italic,400italic);

.backing-modal {
    width: 100%;
    height: 120%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.45;
    display: none;
    &.show {
        display: block;
    }
}

.modal {
    display: none;
    position: absolute;
    z-index: 999999999999;
    background-color: white;
    width: 50%;
    padding: 20px;
    border-radius: 20px;
    border: 3px #336580 solid;
    box-shadow: 8px 8px 11px rgba(0, 0, 0, 0.32);
    left: 25%;
    top: 30%;
    font-size: 30px;
    height: 265px;
    &.show {
        display: block;
    }
    button {
        display: block;
        margin-bottom: 10px;
        font-size: 20px;
    }
}

body {
    font-size: 18px;
    font-family: "Source Sans Pro", sans-serif;
}

.wrapper {
    padding: 20px;
    background-color: #eaeff2;
    h2 {
        border-bottom: thin solid #dfdfdf;
        border-top: thin solid #dfdfdf;
        padding: 10px 0;
    }
    .mice-print {
        font-size: 14px;
        font-weight: 300;
    }
}

.input-wrap {
    margin-top: 20px;
    input {
        width: 80%;
    }
}

.ad-placements {
    margin-top: 45px;
    margin-bottom: 20px;
    p {
        font-weight: bold;
    }
}

.checkbox-wrap {
    margin-top: 5px;
    margin-bottom: 15px;
    input {
        margin-right: 10px;
    }
    label {
        font-weight: normal;
    }

}

.radio-wrap {
    margin-top: 45px;
    .radio-item {
        width: 100%;
        margin-bottom: 10px;
    }
    input {
        margin-right: 10px;
    }
    label {
        font-weight: normal;
    }
}

.hidden-details {
    h3 {
        border-bottom: thin solid #dfdfdf;
        border-top: thin solid #dfdfdf;
        padding: 10px 0;
    }
    p {
        margin-top: 20px;
        margin-bottom: 2px;
    }

}

.btn {
    margin-top: 20px;
}

.dashboard-open {
    margin-left: 20px;
}

.dashboard {
    width: 100%;
    position: absolute;
    z-index: 10000;
    height: 100%;
    right: 0;
    top: 0;
    background: rgba(255, 255, 255, 0.95);
    transition: all 0.3s ease;
    transform: translateX(100%);
    padding: 20px;
    &.open {
        right: 100%;
    }
    .close-dash {
        float: right;
        font-size: 20px;
        border-radius: 20px;
        background-color: aqua;
        padding: 5px 20px;
        cursor: pointer;
        &:hover{
            background-color:black;
            color:white;
        }
    }

    thead {
        border-bottom: solid 1px grey;
        background-color: #f1f1f1;
        th {
            border-right: solid 1px grey;
            padding: 14px;
            cursor: pointer;
            transition: all 0.2s ease;
            &:last-child {
                border: none;
            }
            &:hover {
                background-color: #d5d5d5;
            }
            &.selected {
                background-color: #4d93c5;
                color:white;
            }
        }

    }

    tr {
        td {
            padding: 14px;
            border-right: solid 1px #c1c1c1;
            border-bottom: solid 1px #c1c1c1;
            &:last-child {
                border-right: none;
            }
        }
    }

    &.show {
        transform: translateX(0);
    }
    &.hide {
        //transform : transformX(0px);
        transform: translateX(100%);
    }

    .frame {
        width: 100%;
        height: 100%;
        footer {
            display: none;
        }
    }

    .controls {
        color: black;
        font-size: 16px;
        transition: all 0.3s ease;
        position: absolute;
        top: 30%;
        left: -93px;
        border-radius: 20px 0 0 20px;
        background-color: #f0f0f0;
        padding: 0 0 10px 0;
        width: 95px;
        .header {
            cursor: pointer;
            padding: 3px 10px 0 10px;
            width: 100%;
            border-bottom: thin solid black;

            &:hover {
                color: gray;
            }
        }

        .set-width {
            font-size: 10px;
            padding-left: 10px;
            padding-top: 4px;
            p {
                margin-bottom: 4px;
                color: black;
                &.selected {
                    font-weight: bold;
                    font-size: 12px;
                    color: black !important;

                }
                &.callout {
                    font-weight: bold;

                }
                &[data-width] {
                    margin-left: 6px;
                    margin-top: 0;
                    margin-bottom: 5px;
                    color: blue;
                    cursor: pointer;
                }
                &.reloader {
                    border-radius: 20px;
                    border: solid thin black;
                    padding: 2px 5px;
                    text-align: center;
                }
            }
        }
        &.closedHead {
            //transform: translateX(-115px);
        }

    }

}